@charset "UTF-8";

.divpadding{
	padding-bottom: 10px;
}

.summary{
color: #9d9d9d;
}

.vbless-logo-color{
	color:#eeba37 !important;
}

#firstLine{
	font-size:25px;	
	font-style:italic;
}

#secondLine {
	font-size:25px;
	color:#eeba37 !important;
	font-weight:bold;
}
/* Sticky Footer CSS*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}


/* Hero card css */
/* .hero-image {
  background-image: url("images/20131002_082818.jpg"); 
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.hero-text {
  text-align: left;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}