<div class="container" ng-controller="campaignListController" style="padding-bottom:20px;">
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="campaign in campaigns" style="padding-top:20px;">
			<a href="#viewCampaign/{{campaign.campaignId}}" >
				<div style="{{heroCardCss(campaign.imageBlob)}}">
					<div class="hero-text">
						<h1 style="font-size: 30px">{{campaign.campaignTitle}}</h1>
						<h1 style="font-size: 20px">{{campaign.userId}}</h1>
						<br>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>