<div>
	<form>
		<div class="col-md-12">
			<div class="col-md-2">
				<img height="150" alt="Image preview..." width="150" ng-model="campaign.blurb"  src="data:image/png;base64,{{campaign.imageBlob}}">
			</div>

			<div class="col-md-10">
				<div class="col-md-12 divpadding">
					<div class="col-md-3">
						<label title="Project Title">Project Title</label>
					</div>
					<div class="col-md-3">
						<input class="form-control" ng-model="campaign.campaignTitle" type="text"
							placeholder="Project Title" ng-show="editMode"> <label
							title="Project Title" class="summary" ng-hide="editMode">{{
							projectTitle }}</label>

					</div>
					<div class="col-md-3">
						<label title="Funding Goal ($)">Funding Goal ($)</label>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="text" ng-model="campaign.goal"
							ng-show="editMode" placeholder="Funding Goal ($)"> <label
							title="Funding Goal ($)" class="summary" ng-hide="editMode">{{
							fGoal }}</label>

					</div>
				</div>
				<div class="col-md-12 divpadding">
					<div class="col-md-3">
						<label title="Initiative Description">Initiative
							Description</label>
					</div>
					<div class="col-md-3">
						<textarea class="form-control" rows="5" ng-show="editMode"
							cols="1" ng-model="campaign.campaignDescription"
							placeholder="Initiative Description"></textarea>
						<label title="Initiative Description" class="summary"
							ng-hide="editMode">{{ initiativeDesc }}</label>
					</div>
					<div class="col-md-3">
						<label title="Short Blurb">Short Blurb</label>
					</div>
					<div class="col-md-3">
						<textarea class="form-control" rows="5" cols="1"
							ng-model="campaign.blurb" placeholder="Short Blurb"
							ng-show="editMode"></textarea>
						<label title="Short Blurb" class="summary" ng-hide="editMode">{{shortBlurb}}</label>
					</div>
				</div>

				<div class="col-md-12 divpadding">
					<div class="col-md-3">
						<label title="Category">Category</label>
					</div>
					<div class="col-md-3">
						<select class="form-control" ng-model="campaign.category"
							ng-show="editMode">
							<option>Emergency</option>
							<option>Community</option>
							<option>Animals</option>
							<option>Children</option>
							<option>Environment</option>
						</select> <label title="Category" class="summary" ng-hide="editMode">{{category}}</label>
					</div>
					<div class="col-md-3">
						<label title="Project Location">City</label>
					</div>
					<div class="col-md-3">
						<input class="form-control" ng-show="editMode" type="text"
							placeholder="City" ng-model="campaign.city" /> <label title="City"
							class="summary" ng-hide="editMode">{{city}}</label>
					</div>
				</div>
				<div class="col-md-12 divpadding"></div>
				<div class="col-md-12 divpadding">
					<div class="col-md-3">
						<label title="Campaign Duration (Days)">Campaign Duration
							(Days)</label>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="text" ng-show="editMode"
							ng-model="campaign.duration"
							placeholder="Campaign Duration (Days)" /> <label
							title="CatCampaign Duration (Days)egory" class="summary"
							ng-hide="editMode">{{campaignDurationDay}}</label>

					</div>
					<div class="col-md-3">
						<label title="Project Location">Country</label>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="text" placeholder="Country"
							ng-show="editMode" ng-model="campaign.country" /> <label title="Country"
							class="summary" ng-hide="editMode">{{country}}</label>

					</div>
				</div>

				<div class="col-md-12 divpadding">
					<div class="col-md-3">
						<label title="Upload Photo" ng-show="editMode">Upload
							Photos</label>
					</div>
					<div class="col-md-6" style="padding: 0px">
						<div class="col-md-10">
							<input type="file" class="form-control" id="photo"
								ng-show="editMode" onchange="previewFile()"
								placeholder="Photo..." file-model="fileUpload" required>
						</div>
						<!-- <div class="col-md-2">
							<button class="btn btn-default" ng-click="uploadPhoto()"
								ng-show="editMode" id="uploadphoto">Upload</button>
						</div>-->
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="col-md-12 divpadding">
					<div class="col-md-3">
						<label title="Created Date" >Created
							Date{{createdDate}}</label>
					</div>
					
					<div class="col-md-3" >
						<input type="date" class="form-control" ng-show="editMode"
							ng-model="campaign.createDate" placeholder="Created Date" /> <label
							title="Created Date" class="summary" ng-hide="editMode">{{createdDate}}</label>
					</div>
					
					<div class="col-md-6">
					    
					<button class="pull-right btn btn-success" value="Cancel"  style="margin-left:10px ;
							ng-click="clearFormData()" ng-show="editMode">Cancel</button>
						
					<button class="pull-right btn btn-danger" value="Create"  
							ng-click="saveFormData()" ng-show="editMode">Publish</button>

					</div>
				</div>
	</form>
</div>