
<div class="container">
	<div class="row" style="padding-bottom:10px;">
	<!-- <div class="col-lg-1"></div> -->
	<div id="tagline" class="col-lg-10">
		<div id="firstLine">Popular in Vbless</div>
	</div>
	<div class="col-lg-1"></div>
	</div>
	<div id="myCarousel" class="carousel slide carousel-home" data-ride="carousel"
		data-interval="2000" style="margin-top: 10px;">

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<a href="#viewCampaign/{{campaignsFirst.campaignId}}">
				<div style="{{heroCardCss(campaignsFirst.imageBlob)}}">
					<div class="hero-text">
						<h1 style="font-size: 50px">{{campaignsFirst.campaignTitle}}</h1>
						<!-- <h1 style="font-size: 30px">{{campaignsFirst.userId}}</h1>-->
						<h1 style="font-size: 30px">{{campaignsFirst.blurb}}</h1>
						<br>
					</div>
				</div>
				</a>
			</div>
			<div class="item" ng-repeat="campaign in campaignsRest">
			<a href="#viewCampaign/{{campaign.campaignId}}">
				<div style="{{heroCardCss(campaign.imageBlob)}}">
					<div class="hero-text">
						<h1 style="font-size: 50px">{{campaign.campaignTitle}}</h1>
						<!-- <h1 style="font-size: 30px">{{campaign.userId}}</h1>-->
						<h1 style="font-size: 30px">{{campaign.blurb}}</h1>
						<br>
					</div>
				</div>
				</a>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" data-slide="prev"> <span
			class="glyphicon glyphicon-chevron-left"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="right carousel-control" data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>
</div>
