<div class="container" ng-controller="manageTenantsController">
	<div class="row">
		<h3> Manage Tenants</h3>
	</div>
	<!-- Set Campaign status to "N" to suspend a campaign -->

	<div class="row">
	<form ng-submit="">
		<table class="table table-striped table-hover table-users">
			<thead style="background-color: darkgray;">
					<tr>
						<th>Brand Name</th>
						<th>Business Name</th>
						<th>Email</th>
						<th>Phone</th>
					</tr>
			</thead>
			<tbody>
					<tr ng-repeat="tenant in tenants">
						<td>{{tenant.brandName}}</td>
						<td>{{tenant.businessName}}</td>
						<td>{{tenant.email}}</td>
						<td>{{tenant.phone}}</td>
					</tr>
			</tbody>
		</table>
	  	<div>
    			<a href="#createTenant">Add New Tenant</a>
		</div>
	</form>

	</div>
</div>
