<div ng-controller="viewCampaignController">
	<div class="row">
		  <div class="col-lg-3">
		  </div>
		  <div class="col-lg-6">
		  		<h2 class="text-center" style="	font-size:25px;color:#4c4c4c;text-transform: uppercase;font-weight:700;">{{campaign.campaignTitle}}</h2>
		  </div>
		  <div class="col-lg-2">
		  	<button class="pull-right btn btn-primary" value="Edit"
								ng-click="editPage()" ng-show="userInfo.userName=='creator@vBless.onmicrosoft.com'">Edit</button>
		  </div>
	</div>
	<div class="row">
	  <!-- <div class="col-lg-1"></div> -->
		  <div class="col-lg-10">
		  	<h4 style="color:#4c4c4c;font-weight:600;">{{campaign.blurb}}</h4>
		  </div>
	</div>

	<div class="row">
		  <div class="col-lg-6">
		  	<img width="100%" src="data:image/png;base64,{{campaign.imageBlob}}"/>
				<br/><br/>
				<p>{{campaign.campaignDescription}}</p>

		  </div>

	  	<div class="col-lg-5">
				<h5 class="text-muted" style="padding:0;border-bottom: #e6e6e6 1px solid;">Created by {{campaign.userId}}, &nbsp;
			  		{{campaign.city}},&nbsp;{{campaign.country}}
				</h5>
				<br/>

				<div class="progress">
					  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow={{percentComplete}}
					  aria-valuemin="0" aria-valuemax="100" style="width:{{percentComplete}}%">{{percentComplete}}%
					  </div>
				</div>

				<h5 class="text-muted" style="color:!important">Fund Raised: ${{fundRaised}}</h5>
				<h5 class="text-muted" style="color:!important">Goal: ${{campaign.goal}}</h5>
				<br/>
				<br/>

				<h4 style="font-weight:700;padding:0;border-bottom: #e6e6e6 1px solid;">Paypal</h4>

				<div>
					<a class="text-muted">Login to donate</a>
				</div>

				<div>
					<form  action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="J68EUH3FSJYWU">
					<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
				<br/>
				<h4 style="font-weight:700;padding:0;border-bottom: #e6e6e6 1px solid;"> Share </h4>

			<div class="col-sm-2">
						  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Checkout following campaign at vBless - {{campaign.campaignTitle}}, {{campaign.blurb}}">
							Tweet</a>
			</div>

			<div class="col-sm-2">
						<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>

						  <div class="fb-share-button" data-href="http://www.google.com" data-layout="button" data-mobile-iframe="false">
									<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A5000%2F&amp;src=sdkpreparse">
									Share</a>
							</div>
			 </div>
	  </div>
	</div>
</div>
